<a href="https://colab.research.google.com/github/Sojung-875/class2021Spring/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
s = 'acdfhj'
print(type(s)) #s는 문자열
print(s[0], s[1], s[-1], s[-6]) #첫번째 문자인 a를 기준으로 카운팅. a는 0이 된다. 따라서 마이너스는 뒤에서 부터
print(s[1:3], s[3:], s[:0], s[:]) # s[a:b]는 a부터 b-1까지, 숫자가 없이 공백처리 되면 처음/끝으로 간주

<class 'str'>
a c j a
cd fhj  acdfhj

In [16]:
n = [100, 200, 300] #자르는 것은 리스트에도 적용가능
print(n[0], n[1], n[-2], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 200 200 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [17]:
len(s) #len() : 문자열 속 문자 갯수

6

In [18]:
s[2]+s[4]+s[1:]*10 #연산 순서는 일반 수학의 연산순서와 동일

'dhcdfhjcdfhjcdfhjcdfhjcdfhjcdfhjcdfhjcdfhjcdfhjcdfhj'

In [19]:
s.upper() #upper() : 대문자

'ACDFHJ'

In [40]:
s = 'I ate an apple this morning.\n' 	
s

'I ate an apple this morning.\n'

In [25]:
result = s.find('banana') 	    # index of first instance of string t inside s (-1 if not found)
result

-1

In [42]:
result = s.find('no')	    # index of last instance of string t inside s (-1 if not found)
result

-1

In [43]:
result = s.rindex('no')        # like s.find(t) except it raises ValueError if not found// s.find()함수와 다르게 찾는 대상이 문장 속에 존재하지 않으면 에러 메세지가 뜸
result

ValueError: ignored

In [31]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace 공백없이 다른 부분으로 터 문장을 분리함
s

'I ate an apple this morning.'

In [30]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default) 기본은 공백임 문장 쪼개기
tokens

['I', 'ate', 'an', 'apple', 'this', 'morning.']

In [32]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue/ 붙일때 사용할 glue.joint(잘라진 단어들) : 붙이기
s

'I ate an apple this morning.'

In [33]:
s = s.replace('this', 'that')   # replace instances of t with u inside s replace(): 교체하기
s

'I ate an apple that morning.'