<a href="https://colab.research.google.com/github/Sojung-875/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = [2, 3, 4]
for i in a: #for i in a 는 a라는 리스트에 있는 변수를 i에 계속 대입함
    print(i)

2
3
4

In [3]:
a = [2, 3, 4] #in range(3) => 0, 1, 2, range(0,4) = index 0부터 4이전까지
for i in range(len(a)): #for i in rnage(lens(a))는 a라는 리스트에 변수의 갯수만큼 반복하여 i의 수가 늘어나고 i에 맞게 리스트에서 변수를 출력한다.
    print(a[i])

2
3
4

In [8]:
a = [1,2,3,4]
for i in range(1,4): #range(0,4,2) : 0부터 3까지 두칸을 뛰어라
  print(a[i])

2
3
4

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = ["red", "green", "blue", "purple"] ##skip
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = ["red", "green", "blue", "purple"] ##skip
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

제어문(syntax)의 종류는 두가지

1) loop : for, while

2) condition : if

In [4]:
a = 1  # = : assign 의미// == : 같다는 의미
if a == 0: #if문이 참이라면
    print(a) #출력
else: #if문이 참이 아니라면 #else 없이 실행했는데 거짓이면 아무것도 출력되지 않음
    print(a+1) #출력

2

In [6]:
for i in range(1, 4): #for i in range(a,b)라면 i에는 a부터 b-1까지의 숫자가 대입됨
    for j in range(3, 4):
        print(i*j)

3
6
9

In [7]:
for i in range(1, 3):
    for j in range(3, 5): #총 loop 4번 실행됨
        if j >=5:
            print(i*j)

In [10]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2] #=> for i in [1,2,3,4] / if i>=2 / i
b
print(type(b))
print(b)

<class 'list'>
[2, 3, 4]

In [11]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4] #b=[i]..for~~
b

['green', 'blue', 'purple']