<a href="https://colab.research.google.com/github/Sojung-875/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a)) #type()를 통해 변수의 종류를 알 수 있음 float : 실수, int : 정수, str : 문자열

<class 'int'>

In [ ]:
a = 1; a = float(a); print(type(a)) #a=float(a)를 통해 정수였던 a를 실수로 변환

<class 'float'>

In [ ]:
a = 1.2; a = int(a); print(type(a))

<class 'int'>

In [ ]:
a = '123'; print(type(a)); print(a[2]) #a[k]는 a라는 문자열에서 k번째에 있는 문자, 시작은 0부터 셈

<class 'str'>
3

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[1])

<class 'list'>
['1', '2', '3']
2

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2]) #리스트는 []를 사용하고 튜플은 ()을 사용함. 튜플은 내부의 정보를 변경할 수 없음 딕셔너리는 {} 사용

<class 'tuple'>
1
2
[3, '4']

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014} #딕셔너리는 정의를 부여하는 것으로 순서가 없다고 볼 수 있음
print(type(a))
print(a["c"])

<class 'dict'>
2014

In [1]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a
print(type(a[1]))

<class 'list'>
<class 'tuple'>